<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="me.tsaheylu.dao.mapper.GroupMapper">


    <select id="getGroupdata" resultType="me.tsaheylu.model.GroupData">
      select * from groupdata
      where toid = #{toid}
      and groupid = #{groupid}
    </select>


    <select id="getGroupdataByGroupid" resultType="me.tsaheylu.model.GroupData">
      select * from groupdata
      where status = 1
      and groupid = #{groupid}
    </select>

    <select id="batchgetGroupdataByGroup" resultType="me.tsaheylu.model.GroupData">
        select * from groupdata
        where groupid in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="getGroupsByType" resultType="me.tsaheylu.model.Group">
      select * from tsahaylu.group 
      where fromid = #{fromid}
      and type = #{type}
    </select>

    <select id="getGroups" resultType="me.tsaheylu.model.Group">
      select * from tsahaylu.group
      where fromid = #{fromid}
    </select>


    <select id="getFriendNumByGroup" resultType="java.lang.Integer">
      select count(*) from groupdata 
      where groupid = #{groupid}
      and status = 1
    </select>


    <insert id="insertGroupData" parameterType="me.tsaheylu.model.GroupData" useGeneratedKeys="true"
            keyProperty="id">
		insert into groupdata 
		(toid,groupid,status,addtime)
  		values 
  		(#{toid},#{groupid},#{status},#{addtime})
    </insert>


    <delete id="reomveGroupdata" parameterType="java.lang.Long">
		delete from groupdata where id=#{id}
    </delete>


    <select id="batchgetGroupByID" resultType="me.tsaheylu.model.Group">
        select * from tsahaylu.group
        where id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="Get" resultType="me.tsaheylu.model.Group">
      select * from tsahaylu.group
      where id = #{id}
    </select>


    <insert id="Insert" parameterType="me.tsaheylu.model.Group" useGeneratedKeys="true" keyProperty="id">
		insert into tsahaylu.group 
		(fromid,status,des,name,type,createtime)
  		values 
  		(#{fromid},#{status},#{des},#{name},#{type},#{createtime})
    </insert>


    <delete id="Delete" parameterType="java.lang.Long">
		delete from tsahaylu.group where id=#{id}
    </delete>


    <delete id="batchDeleteGroupData" parameterType="java.util.List">
        delete from groupdata
        where id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>

    <update id="Update" parameterType="me.tsaheylu.model.Group">
		update tsahaylu.group
		 set
		fromid = #{fromid},
		status = #{status},
		des = #{des},
		name = #{name},
		type = #{type},
		createtime = #{createtime}
		where id=#{id}
    </update>


    <update id="batchUpdateGroupData" parameterType="list">
        <foreach collection="list" item="glist" separator=";">
            UPDATE groupdata SET
            toid = #{glist.toid},
            groupid = #{glist.groupid},
            status = #{glist.status},
            addtime = #{glist.addtime}
            WHERE id = #{glist.id}
        </foreach>
    </update>


    <select id="getGroupdataByGroup" resultType="me.tsaheylu.model.GroupData">
      select a.* from 
      groupdata as a
      left join 
      tsahaylu.group as b
      on a.groupid = b.id 
      where b.fromid = #{fromid} 
      and a.toid = #{toid}  
    </select>


    <select id="getGroupDataByGroupdataid" resultType="me.tsaheylu.model.GroupData">
      select * from groupdata  
      where id = #{groupdataid}
    </select>

</mapper>
